/** Home Page **/
body {
	padding: 15px;
	background-color: #f5f5f5;
	font-family: 'Lato';
}

@media ( min-width : 979px) {
	body {
		padding-top: 60px;
	}
}

/** Login Page **/
#login {
	padding-top: 40px;
	padding-bottom: 40px;
}

#login .form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

#login .form-signin .form-signin-heading,#login .form-signin .checkbox {
	margin-bottom: 10px;
}

#login .form-signin input[type="text"],#login .form-signin input[type="password"]
	{
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/** 2 level sub menu **/
.dropdown-menu-with-subs .sub-menu {
	left: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
}

.dropdown-menu-with-subs li:hover .sub-menu {
	visibility: visible;
	display: block;
}

.navbar .sub-menu:before {
	border-bottom: 7px solid transparent;
	border-left: none;
	border-right: 7px solid rgba(0, 0, 0, 0.2);
	border-top: 7px solid transparent;
	left: -7px;
	top: 10px;
}

.navbar .sub-menu:after {
	border-top: 6px solid transparent;
	border-left: none;
	border-right: 6px solid #fff;
	border-bottom: 6px solid transparent;
	left: 10px;
	top: 11px;
	left: -6px;
}

/** Global **/
#content {
	margin-left: 0px;
}

.hide-sidebar-left,.show-sidebar-left {
	cursor: pointer;
}

.padd-bottom {
	margin-bottom: 5px;
}

.breadcrumb {
	margin: 0 0 0px;
	padding: 10px 0px;
	background-color: transparent;
}

.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
	border-top: none;
}

.block-content {
	margin: 1em;
	min-height: .25em;
}

.block-header {
	margin-bottom: 0px;
	border-right: none;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.block-header div {
	padding-top: 10px;
}

.easyPieChart {
	margin: 0px auto;
}

.chart-bottom-heading {
	margin-top: 5px;
	text-align: center;
}

/** Side Bar **/
.bs-docs-sidenav {
	max-width: 228px;
	margin: 30px 0 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.bs-docs-sidenav>li>a {
	display: block;
	width: 190px \9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.bs-docs-sidenav>li:first-child>a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav>li:last-child>a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav>.active>a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}

.bs-docs-sidenav>li>a:hover {
	background-color: #f5f5f5;
}

.bs-docs-sidenav a:hover .icon-chevron-right {
	opacity: .5;
}

.bs-docs-sidenav .active .icon-chevron-right,.bs-docs-sidenav .active a:hover .icon-chevron-right
	{
	opacity: 1;
}

.bs-docs-sidenav.affix {
	top: 40px;
}

.bs-docs-sidenav.affix-bottom {
	position: absolute;
	top: auto;
	bottom: 270px;
}

/* Icons
------------------------- */
.the-icons {
	margin-left: 0;
	list-style: none;
}

.the-icons li {
	float: left;
	width: 25%;
	line-height: 25px;
}

.the-icons i:hover {
	background-color: rgba(255, 0, 0, .25);
}

.control-label .required {
	color: #e02222;
	font-size: 12px;
	padding-left: 2px;
}

.navbar-brand {
	font-weight: bold;
	padding: 15px;
}

footer {
	text-align: center;
	font-weight: bold;
	background: #ffffff;
	padding: 30px;
}

.navigation-bar {
	padding: 10px;
}

.nav>li.active {
	color: #ffffff;
	background: #337AB7;
}

.nav>li.active a {
	color: #ffffff;
}

#sidebar-left {
	background: #ffffff;
	padding: 10px;
}

#sidebar-left .fa {
	float: right;
	margin-top: 2px;
}

#sidebar-left .glyphicon {
	float: left;
	margin-top: 2px;
}

#sidebar-left a {
	color: #000000;
	font-weight: bold;
	font-size: 12px;
}

#sidebar-left a:hover {
	color: #ffffff;
	font-weight: bold;
	background: #337AB7;
}

#sidebar-left li {
	color: #000000;
}

#sidebar-left li.active {
	color: #ffffff;
}

.bolden a {
	font-weight: bold;
}

.menu-item {
	font-size: 13px;
	text-align: center;
	padding: 40px;
	text-transform: uppercase;
}

.menu-item a {
	text-decoration: none;
	color: #111111;
	font-weight: bold;
	font-style: italic;
}

.section {
	background: #ffffff;
	font-weight: bold;
}

.sidebar-right {
	padding: 5px;
}

.dropdown-menu>li>a {
	font-weight: bold;
}

.modal-title {
	font-weight: bold;
	text-align: center;
}

.btn {
	text-transform: uppercase;
	font-weight: bold;
}
.table > tbody > tr > td.right {
	text-align: right;
}
td.left {
	text-align: left;
}
.numberCircle {
    padding: 8px;

    background: #fff;
    color: #111;
    text-align: center;
	font-weight: bold;
    font: 32px Arial, sans-serif;
}
.row {
	margin: 0;
}
.border-right {
	border-right: 4px solid rgb(241, 241, 241);
}
.border-left {
	border-left: 4px solid rgb(241, 241, 241);
}
.border-top {
	border-top: 4px solid rgb(241, 241, 241);
}

.object {
    width: 100%;
    height: 700px;
}
#description {overflow:scroll; max-height:300px}


#wait-dialog {
	margin-top: 20%;
}

.table > tbody > tr > th {
	background: #f1f1f1;
}
.table > tbody > tr > td.right {
	text-align: right;
}
.table > tbody > tr > th.right {
	text-align: right;
}
.table > tbody > tr > td.left {
	text-align: left;
}
.table > tbody > tr > th.left {
	text-align: left;
}
.content-area {
	min-height:450px;
}
.large-modal {
	width: 900px;
}
.editor {
	overflow:scroll; 
	max-height:300px;
}
.main-title {
	background:#f1f1f1;
	padding: 10px;
}
legend {
	text-transform: uppercase;
}
 .masked-bg {
 	color:#ffffff;
 	font-weight:bold;
 }
.accordion-header span.pull-right {
    margin-top: -10px;
    width: 20px;
}
div.accordion-content input {
	margin-top: -8px;
}
.modal {
    /* ... */
    overflow-y: auto;
}
.icon-lg {
	font-size:65px;
}

.scheme-block {
	border: 1px solid #f1f1f1;
	border-radius: 15px;
	font-weight: bold;
}